html {
    height: 100%; /* make html element full height */
    box-sizing: border-box; /* include padding and border in height calculation */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%; /* make body element at least full height */
    display: flex; /* use flexbox to align footer at the bottom */
    flex-direction: column; /* stack elements vertically */
    box-sizing: border-box;
}

nav {
    min-height: 100%; /* make body element at least full height */
    flex-direction: column; /* stack elements vertically */
    background-color: #333; /* dark gray background */
    padding: 10px; /* add some padding to the navbar */
    display: flex; /* display as flexbox */
    justify-content: space-between; /* justify content to the left and right */
    align-items: center; /* vertically center the content */
}

nav ul {
    list-style: none; /* remove bullet points */
    margin: 0; /* remove margin */
    padding: 0; /* remove padding */
    display: flex; /* display as flexbox */
}

nav li {
    margin-right: 20px; /* add some space between menu items */
}

nav a {
    color: #fff; /* white text color */
    text-decoration: none; /* remove underline */
    transition: color 0.2s ease; /* add transition effect */
}

nav a:hover {
    color: #ccc; /* light gray on hover */
}

nav .nav-link {
    font-size: 18px; /* increase font size */
    font-weight: bold; /* make font bold */
}

nav .nav-link.active {
    color: #337ab7; /* blue text color for active link */
}

.contact {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact h1 {
    margin-top: 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #23527c;
}

textarea {
    height: 150px;
    resize: vertical;
}

#error-message {
    color: #880808;
    font-size: 14px;
    margin-bottom: 20px;
}

main {
    flex: 1; /* make main element take up the remaining space */
}

footer {
    background-color: #f7f7f7; /* light gray background */
    padding: 20px; /* add some padding to the footer */
    text-align: center; /* center the text */
    color: #666; /* dark gray text color */
    clear: both; /* clear any floats */
    border-top: 1px solid #ddd; /* add a top border */
    height: auto;
    margin-top: auto;
}


footer p {
    margin-bottom: 10px; /* add some margin to the paragraph */
}

footer a {
    color: #337ab7; /* blue text color for links */
    text-decoration: none; /* remove underline */
}

footer a:hover {
    color: #23527c; /* darker blue on hover */
}