* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

nav {
    min-height: 100%; /* make body element at least full height */
    flex-direction: column; /* stack elements vertically */
    background-color: #333; /* dark gray background */
    padding: 10px; /* add some padding to the navbar */
    display: flex; /* display as flexbox */
    justify-content: space-between; /* justify content to the left and right */
    align-items: center; /* vertically center the content */
}

nav ul {
    list-style: none; /* remove bullet points */
    margin: 0; /* remove margin */
    padding: 0; /* remove padding */
    display: flex; /* display as flexbox */
}

nav li {
    margin-right: 20px; /* add some space between menu items */
}

nav a {
    color: #fff; /* white text color */
    text-decoration: none; /* remove underline */
    transition: color 0.2s ease; /* add transition effect */
}

nav a:hover {
    color: #ccc; /* light gray on hover */
}

nav .nav-link {
    font-size: 18px; /* increase font size */
    font-weight: bold; /* make font bold */
}

nav .nav-link.active {
    color: #337ab7; /* blue text color for active link */
}

.resume {
    margin: 50px auto;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out 0.5s;
}

.resume:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.left {
    align-self: flex-start;
}

.right {
    align-self: flex-end;
}

p {
    line-height: 1.7;
}

.contact-info, .summary, .education, .skills, .experience, .projects {
    /* Add some basic styling to the card */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out; /* Add a transition effect */
}

.contact-info:hover, .summary:hover, .education:hover, .skills:hover, .experience:hover, .projects:hover {
    /* Add a hover effect to the card */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px); /* Move the card up slightly on hover */
}

.contact-info {
    text-align: center;
}

.fab{
    font-size: 25px;
}
.contact-info a {
    text-decoration: none;
    color: #337ab7; /* or any other color you prefer */
}

.contact-info a:hover {
    color: #23527c; /* or any other color you prefer */
}

.experience-item {
    margin-bottom: 20px;
}

.skills {
    display: grid;
    grid-row: auto;
    grid-column: auto;
}

.technical-skills, .soft-skills, .tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

.technical-skills h3, .soft-skills h3, .tools h3 {
    /*margin-right: 10px;*/
    padding: 0;
    margin: 5px 10px 5px;
}

.technical-skills p, .soft-skills p, .tools p {
    margin: 0;
    padding: 0;
}

.experience-details {
    font-weight: bold;
}

.experience-location, .experience-dates {
    color: #666;
}

.projects-title {
    margin-top: 0;
}

.projects-details span {
    display: list-item;
    list-style: disc;
    left: 20px;
    position: relative
}

.education {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.education h2 {
    grid-column: 1 / -1;
}

.education p:nth-child(2) {
    grid-column: 1;
}

.education p:nth-child(3) {
    grid-column: 2;
    text-align: center;
}

.education p:nth-child(4) {
    grid-column: 1 / -1;
    text-align: center;
}

/* Make the resume responsive */
@media (max-width: 1200px) {
    .resume {
        max-width: 600px;
    }
}

@media (max-width: 800px) {
    .resume {
        max-width: 400px;
    }
}

@media (max-width: 600px) {
    .resume {
        max-width: 300px;
    }
}

@media (max-width: 400px) {
    .resume {
        max-width: 200px;
    }
}

footer {
    background-color: #f7f7f7; /* light gray background */
    padding: 20px; /* add some padding to the footer */
    text-align: center; /* center the text */
    color: #666; /* dark gray text color */
    clear: both; /* clear any floats */
    border-top: 1px solid #ddd; /* add a top border */
}

footer p {
    margin-bottom: 10px; /* add some margin to the paragraph */
}

footer a {
    color: #337ab7; /* blue text color for links */
    text-decoration: none; /* remove underline */
}

footer a:hover {
    color: #23527c; /* darker blue on hover */
}