* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 10%;
  width: 80%;
  background: linear-gradient(to right, #23527c, #1d2a6a);
  z-index: 10;
  border-radius: 50px;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex: 1;
}

nav li {
  margin-left: 20px; /* add some space between menu items */
}

nav a {
  color: #fff; /* white text color */
  text-decoration: none; /* remove underline */
  transition: color 0.2s ease; /* add transition effect */
}

nav a:hover {
  color: #ccc; /* Highlight color on hover */
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 25px;
  color: #ffffff;
  white-space: nowrap;
}

.menu-toggle {
  display: none; /* Hidden by default */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
}

@media (max-width: 768px) {
  nav {
    padding: 10px; /* Adjust padding if needed */
  }

  .logo {
    font-size: 20px; /* Adjust logo size for smaller screens */
  }

  nav ul {
    display: none; /* Hide menu items by default */
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #23527c74;
    position: absolute;
    top: 60px; /* Adjust based on header height */
    left: 0;
    z-index: 10;
  }

  nav ul.active {
    display: flex; /* Show menu when active */
  }

  nav li {
    margin: 10px 0; /* Vertical spacing for stacked items */
  }

  nav a {
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .menu-toggle {
    display: block; /* Show menu toggle button */
  }
}

.card {
  padding: 10px;
}
.card p {
  text-align: justify;
}

.resume {
  margin: 80px auto;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out 0.5s;
  position: relative;
  z-index: 1;
}

.resume:hover {
  box-shadow: 0 0 20px rgba(4, 59, 92);
  border-radius: 10px;
}

.left {
  align-self: flex-start;
}

.right {
  align-self: flex-end;
}

p {
  line-height: 1.7;
}

.contact-info,
.summary,
.education,
.skills,
.experience,
.projects {
  /* Add some basic styling to the card */
  color: #ccc;
  background-color: #1e2a38;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 25px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out; /* Add a transition effect */
}

.summary:hover,
.education:hover,
.skills:hover,
.experience:hover,
.projects:hover {
  /* Add a hover effect to the card */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px); /* Move the card up slightly on hover */
  background-color: #2a3c4c;
}

.contact-info {
  text-align: center;
  width: fit-content;
}

.contact-info:hover .contact-links {
  translate: 150px 0px;
  width: fit-content;
  visibility: visible;
}

.fab {
  font-size: 25px;
}


.contact-info a {
  margin: 0 5px;
  font-size: 25px;
}

.contact-info a:hover {
  color: #ffeb3b;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.contact-links a {
  
  text-decoration: none;
  color: #337ab7; /* or any other color you prefer */
}

.contact-links a:hover {
  color: #23527c; /* or any other color you prefer */
}

.contact-links {
   visibility: hidden; 
  border: #000000 solid;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  position: absolute;
}

.experience-item {
  margin-bottom: 20px;
}

.skills, .experience {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.technical-skills,
.soft-skills,
.tools {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}


.technical-skills h3,
.soft-skills h3,
.tools h3 {
  /*margin-right: 10px;*/
  padding: 0;
  margin: 5px 10px 5px;
}

.technical-skills p,
.soft-skills p,
.tools p {
  margin: 0;
  padding: 0;
}

.experience-details {
  font-weight: bold;
}

.experience-location,
.experience-dates {
  color: #666;
}

.projects div {
  background-color: #2b3a42;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.projects-title {
  font-size: 1.3em;
}

.projects-details {
  margin-top: 10px;
}

.projects-title a {
  text-decoration: none;
  color: #111111;
}

.projects-details span {
  display: list-item;
  list-style: disc;
  left: 20px;
  position: relative;
}

.education {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.education h2 {
  grid-column: 1 / -1;
}

.education p:nth-child(2) {
  grid-column: 1;
}

.education p:nth-child(3) {
  grid-column: 2;
  text-align: center;
}

.education p:nth-child(4) {
  grid-column: 1 / -1;
  text-align: center;
}

/* Make the resume responsive */
@media (max-width: 1200px) {
  .resume {
    max-width: 1100px;
  }
}

@media (max-width: 800px) {
  .resume {
    max-width: 700px;
  }
}

@media (max-width: 600px) {
  .resume {
    max-width: 500px;
  }
}

@media (max-width: 400px) {
  .resume {
    max-width: 300px;
  }
}


footer{
  position: relative;
}

.contact-form {
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.contact-form-section{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #ffffff;
}

.contact-form input,
.contact-form textarea {
  z-index: 10;
  width: 50%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em;
  background-image: linear-gradient(to right, #23527c, #1d2a6a);
  color: #fff;
  background-clip: padding-box;
  pointer-events: auto;
}

.contact-form textarea {
  height: 100px;
  resize: none;
}

.contact-form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #23527c;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button i {
  font-size: 1.2em;
}

.contact-form button:hover {
  background-color: #1d2a6a;
}

footer p {
  text-align: center; 
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #fff;
}
