body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.navbar {
    position: relative;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background-color: #333;
    padding: 10px;
    text-align: center;
    width: fit-content;
    z-index: 1000;
    transition: background-color 0.3s; /* add transition effect on navbar hover */
}

.navbar:hover {
    background-color: #444; /* change background color on navbar hover */
    right: 50%;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navbar a.nav-link {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s; /* add transition effect on link hover */
}

.navbar a.nav-link:hover {
    color: #ccc; /* change link color on hover */
}

.navbar a.nav-link:hover:nth-child(1) {
    color: #66d9ef; /* change link color on hover for "Home" */
}

.navbar a.nav-link:hover:nth-child(2) {
    color: #8bc34a; /* change link color on hover for "About" */
}

.navbar a.nav-link:hover:nth-child(3) {
    color: #e91e63; /* change link color on hover for "Contact" */
}
.resume {
    background-color: #fff;
    padding: 0.5in;
    margin: 40px auto;
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.resume:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.contact-info, .summary, .education, .skills, .experience, .projects {
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.contact-info:last-child, .summary:last-child, .education:last-child, .skills:last-child, .experience:last-child, .projects:last-child {
    border-bottom: none;
}

h2 {
    margin-top: 0;
}

.contact-info {
    text-align: center;
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-info a {
    text-decoration: none;
    color: #337ab7; /* or any other color you prefer */
}

.contact-info a:hover {
    color: #23527c; /* or any other color you prefer */
}
.experience-item {
    margin-bottom: 20px;
}

.skills {
    display: grid;
    grid-row: auto;
    grid-column: auto;
}

.technical-skills, .soft-skills, .tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

.technical-skills h3, .soft-skills h3, .tools h3 {
    /*margin-right: 10px;*/
    padding: 0;
    margin: 5px 10px 5px;
}

.technical-skills p, .soft-skills p, .tools p {
    margin: 0;
    padding: 0;
}

.experience-details {
    font-weight: bold;
}

.experience-location, .experience-dates {
    color: #666;
}

.projects-title {
    margin-top: 0;
}

.projects-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.projects-list li {
    margin-bottom: 10px;
    margin-right: 20px;
}

.education {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.education h2 {
    grid-column: 1 / -1;
    margin-top: 0;
}

.education p:nth-child(2) {
    grid-column: 1;
    white-space: nowrap;
}

.education p:nth-child(3) {
    grid-column: 2;
    text-align: center;
}

.education p:nth-child(4) {
    grid-column: 1 / -1;
    text-align: center;
}

/* Make the resume responsive */
@media (max-width: 1200px) {
    .resume {
        max-width: 600px;
    }
}

@media (max-width: 800px) {
    .resume {
        max-width: 400px;
    }
}

@media (max-width: 600px) {
    .resume {
        max-width: 300px;
    }
}

@media (max-width: 400px) {
    .resume {
        max-width: 200px;
    }
}